$color-white: #fff;
$color-black: #000;

$color-green-60: #caff33;
$color-green-65: #d1ff4c;
$color-green-70: #d8ff66;
$color-green-80: #e5ff99;
$color-green-90: #f2ffcc;
$color-green-95: #f8ffe5;
$color-green-97: #fbfff0;
$color-green-99: #fefffa;

$color-white-90: #e4e4e7;
$color-white-95: #f1f1f3;
$color-white-97: #f7f7f8;
$color-white-99: #fcfcfd;

$color-grey-10: #191919;
$color-grey-11: #1c1c1c;
$color-grey-15: #262626;
$color-grey-20: #333333;
$color-grey-30: #4c4c4d;
$color-grey-35: #59595a;
$color-grey-40: #656567;
$color-grey-60: #98989a;
$color-grey-70: #b3b3b3;
$color-grey-75: #bfbfbf;
